doctype html
html
  head
    title JETMAN
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header.container_12
      #fb-root
    #container.container_12!= body
      block mainContent
